.toDoBox {
  width: 400px;
  height: 600px;
  margin: auto;
  margin-top: 25px;
  box-shadow: 5px 5px 10px black;
  border-radius: 10px;
  position: relative;
}

.toDoTitle {
  width: 100%;
  height: 20px;
  text-align: center;
  padding-top: 5px;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

.toDoList {
  width: 100%;
  height: 520px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.toDoControl {
  text-align: center;
  padding-top: 20px;
  width: 100%;
  height: 25px;
}

.addLine {
  background-color: white;
}

.bDone {
  font-size: 9px;
  background-color: #e6f2ff;
  border: none;
}

.liList {
  padding-right: 15px;
}
